<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="appp.js">
    </script>
    <style>
        .products{
            float: left;
            border: solid thin black;
            width: 180px;
        }
        .cart{
            float: left;
            border:solid thin black;
            margin-left: 20px;
            width: 200px;

        }
    </style>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="myController">
        <div ng-repeat="items in products" class="products">
            <p>{{items.name}}</p>
            <p>{{items.price}}</p>
            <input type="button" value="BUY NOW" ng-click="addToCart(items)">
        </div>
        <div class="cart">
        <h3>Cart</h3>
        <div ng-repeat="items in cart">
            <p>{{items.name}} -- <input type="number" ng-value="item.qty"></p>


        </div></div>
        <div>
            <h3>Total : {{total}}</h3>
        </div>
    </div>
</div>

</body>
</html>